# Mude para "production" quando for subir para produção
ENVIRONMENT=development

# URL do NeonDB/Postgres (usado em produção)
DATABASE_URL=postgresql://usuario:senha@ep-xxxx.us-east-2.aws.neon.tech/arenahub?sslmode=require